@charset "UTF-8";
/* Réglages de la page */
body {
  background-color: #ebebeb;
}

/* Réglages des DIV */
header,
nav,
article {
  background-color: white;
  width: 600px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 17px 0px #DADADA;
          box-shadow: 0px 3px 17px 0px #DADADA;
  margin: 20px auto;
  padding: 28px;
  font-family: "Montserrat", "Open Sans", sans-serif;
}

/* Réglages div-intro */
header {
  text-align: center;
}

.photo-tim {
  border-radius: 50%;
  width: 150px;
  border: 5px solid #CBCBCB;
  display: block;
  margin: auto;
}

h1 {
  color: #EC394B;
}

h2 {
  color: #7C7F8B;
  font-weight: 800;
}

p {
  text-align: justify;
  color: #7C7F8B;
  font-size: 18px;
  font-weight: 400;
}

.seeforyourself {
  background-color: #EC394B;
  display: inline-block;
  margin: auto;
  padding: 2%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

/* Réglages div-icons */
nav {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.bouton-rs {
  color: #CBCBCB;
  display: inline-block;
  margin: 6%;
  text-decoration: none;
}

.bouton-rs p {
  color: #CBCBCB;
}

/* Réglages div-movies */
article {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 20% 75%;
      grid-template-columns: 20% 75%;
  -ms-grid-rows: 15% 27% 27% 27%;
      grid-template-rows: 15% 27% 27% 27%;
}

h3 {
  color: #7C7F8B;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

.highlight {
  color: #7C7F8B;
  background-color: #d4d4d4;
}

article img {
  width: 100px;
}

.titre {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.poster-2001 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
}

.text-2001 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
}

.poster-hulot {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-row-end: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
}

.text-hulot {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
}

.poster-alien {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-row-end: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
}

.text-alien {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  padding-bottom: 20%;
}
